.intro {
  height: 338px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../img/intro_monbac.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  overflow: hidden;
}

.intro__content {
  position: relative;
  z-index: 99;

  color: #fff;
}

.intro__content h1 {
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

.intro__content p {
  text-align: center;
  font-size: 18px;
}

.food .food__wrapper {
  display: flex;
  column-gap: 73px;

  padding: 35px;
  margin: 0 auto;
  max-width: 1440px;
}

.food:nth-child(even) {
  background-color: #f4f4f4;
}

.food .food__wrapper .food__thumb {
  flex: 1;
  width: 400px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.13);
}

.food .food__wrapper .food__thumb img {
  width: 100%;
}

.food .food__wrapper .food-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.food .food__wrapper .food-content .food-content__description {
  flex: 1;
  background: #eeeeee;
  padding: 35px;
  border-radius: 20px;
  font-size: 20px;
  line-height: 1.5;
}

/* Food Actions */

.food-actions__rate {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 25px;
}

.food-actions__rate .food-star {
  font-size: 1.5rem;
  color: #f1d231;
}

.food-actions__add {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.food-price {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f1d231;
  color: #fff;
  font-size: 22px;
}

.btn-add {
  padding: 8px 30px;
  border-radius: 30px;
  background-color: #f6ab1a;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
}

.food-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-content__header h2 {
  margin-bottom: 15px;
  line-height: 1;
}

button .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
  color: #d3b51c;
  border-radius: 50%;
  line-height: 1;
}

button i {
  font-size: 1.3rem;
}

.btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
.cart {
  position: relative;
}

.cart:hover .my-cart {
  right: 0;
  opacity: 1;
}

.cart .my-cart {
  position: absolute;
  top: 100%;
  right: -300%;
  width: 300px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;

  opacity: 0;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cart .list-products {
  display: flex;
  flex-direction: column;
}

.cart .list-products .product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.cart .total-amount {
  margin-top: 20px;
  font-weight: bold;
  font-family: "GilroyBold", sans-serif;
  margin-left: auto;
  font-size: 1.2rem;
}
