html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-family: "GilroyRegular", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-family: "iCiel Pacifico", sans-serif;
  font-size: 64px;
}

h2 {
  font-family: "iCiel Pacifico", sans-serif;
  font-size: 44px;
}

h3 {
  font-family: "iCiel Pacifico", sans-serif;
  font-size: 29px;
}

p {
  font-family: "GilroyMedium";
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

/* Header */
#header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

#header.not-fixed {
  position: relative;
  background: #1c1c1c;
}

#header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 34px;
  padding-left: 65px;
  padding-right: 65px;

  transition: all 0.25s ease-in-out;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 56px;
}

.navbar > li > a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "GilroyBold", sans-serif;
  padding-bottom: 10px;
  transition: all 0.25s ease-in-out;
}

.navbar > li > a:hover,
.navbar > li > a.active {
  border-bottom: 3px solid #fff;
}

/* hero */

.hero {
  width: 100%;
  height: 100vh;
  background: #019875;
  z-index: 98;

  background: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.56);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 96;
}

.hero .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 98;
}

.hero .content h1 {
  font-size: 64px;
  color: #fff;
  margin-bottom: 27px;
  line-height: 1.5;
  z-index: 8;
}

.hero .content p {
  z-index: 7;
  color: #fff;
  font-size: 18px;
  text-align: center;
  width: 578px;
  margin-bottom: 45px;
}

.btn {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 50rem;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "GilroyBold", sans-serif;
  border: none;
  outline: none;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  opacity: 0.7;
}

.btn-primary {
  background: #f1d231;
  color: #fff;
}

/* about */
.section {
  padding: 69px 0px;
}

.about .wrapper {
  display: flex;
  margin: 0 auto;
}

.pictures,
.about .content {
  flex: 1;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  margin-right: 84px;
}

.pictures .pic:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.pictures .pic:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.pictures .pic:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.pictures .pic {
  border-radius: 15px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about .content h2 {
  margin-bottom: 30px;
  font-size: 44px;
  max-width: 255px;
}

.about .content p {
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "GilroyRegular", sans-serif;
  line-height: 1.5;
}

.about .content .btn {
  max-width: 200px;
}

/* Footer */

.footer {
  background-color: #1c1c1c;
}

.footer .wrapper {
  display: flex;
  column-gap: 88px;
  padding: 115px 0px;
}

.footer .wrapper .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.footer .wrapper .col h3 {
  margin-bottom: 20px;
  margin-top: 30px;
}

.footer .wrapper .col p {
  opacity: 0.6;
  line-height: 1.5;
}

.footer .wrapper .col.about-us img {
  max-width: 197px;
  margin-bottom: 40px;
}

.footer .wrapper .col.contact-us span {
  margin-bottom: 15px;
  font-size: 16px;
  opacity: 0.6;
}

.col > input {
  padding: 20px 25px;
  border: none;
  outline: none;
  background-color: #c4c4c4;
  font-family: "GilroyRegular", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 13px;
}

.col > input::placeholder {
  font-family: "GilroyRegular", sans-serif;
  color: #fff;
}

.col button {
  outline: none;
}

/* Copyright */
.copyright {
  background-color: #2c2c2c;
  width: 100%;
  padding: 29px 0px;
  color: #fff;
  font-size: 18px;
}

.copyright .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright .wrapper ul {
  display: flex;
  align-items: center;
  list-style: none;

  column-gap: 35px;
}

.copyright .wrapper ul > li > a {
  color: #fff;
  font-size: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 97;
}

.navbar__btn {
  font-size: 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  display: none;
}

#header .wrapper .overlay {
  display: none;
}
@media screen and (max-width: 1000px) {
  #header .wrapper .navbar {
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    max-width: 300px;
    padding-top: 50px;
    background-color: #fff;
    z-index: 99;
    transform: translateX(100%);
  }

  .navbar__btn {
    display: block;
  }

  #header .wrapper .overlay {
    position: fixed;
    display: none;
  }

  #header .wrapper .navbar > li {
    width: 100%;
  }
  #header .wrapper .navbar > li > a {
    color: #333;
    width: 100%;
    display: inline-block;
    padding: 15px;
  }

  .navbar > li > a:hover,
  .navbar > li > a.active {
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.06);
  }
}

/* loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.loading .left {
  position: fixed;
  top: 0;
  width: 50%;
  left: 0;
  bottom: 0;
  background-color: #fff;
  animation: loadingLeft 0.8s 0.7s forwards;
}

.loading .right {
  position: fixed;
  top: 0;
  width: 50%;
  right: 0;
  bottom: 0;
  background-color: #fff;
  animation: loadingRight 0.8s 0.7s forwards;
}

@keyframes loadingLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes loadingRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
